.testimonials {
  background: url(../images/testimonial-background.png);
  padding: 100px 0px 40px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonials .wrapper {
  max-width: 1320px;
}

.testimonials-inner h3,
.testimonials-inner h4 {
  color: #fff;
}

.testimonials-swiper .swiper-slide {
  padding: 60px;
}

@media (max-width: 1200px) {
  .testimonials-swiper .swiper-slide {
    padding: 0;
  }
  .testimonials-swiper .swiper-slide-padding-wrapper {
    flex-direction: column;
    padding: 20px 0px;
  }
}

.testimonials-swiper .swiper-slide-padding-wrapper {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}

/*###############
####LEFT SIDE####
#################*/

.slide-left-side {
  flex: 1;
  max-width: 550px;
  padding: 0px 40px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .info {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.name-and-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name-and-rating i {
  background: linear-gradient(340deg, #d55417 0%, #e88b42 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.name-and-rating h2 {
  margin-bottom: 0px;
  margin-right: 10px;
}

.profession {
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #e27025;
  font-weight: 700;
}

.description p {
  font-size: 16px;
  line-height: 20px;
  color: #b2b0af;
  font-weight: 400;
  text-align: left;
}

/*################
####RIGHT SIDE####
##################*/

.slide-right-side {
  position: relative;
  transform: translateY(-10%) translateX(5%);
  filter: drop-shadow(0px 0px 7px #e2702573);
  overflow: hidden;
}

@media (max-width: 1200px) {
  .slide-right-side {
    transform: none;
    margin-top: 20px;
  }
}

.slide-right-side .swiper-button-next,
.slide-right-side .swiper-button-prev {
  right: 0;
  top: 50%;
  transform: translate(55%, -20%);
  padding: 40px;
  border-radius: 100%;
  background: #fff;
  box-shadow: inset 0.707px 0.707px 3px rgba(19, 19, 19, 0.67);
}

.slide-right-side .swiper-button-next i {
  position: absolute;
  top: 40px;
  right: 55px;
  transform: translate(50%, -50%);
  font-size: 20px;
  color: #e27025;
}

.slide-right-side .swiper-button-prev {
  right: none;
  left: 0;
  transform: translate(-55%, -20%);
}

.slide-right-side .swiper-button-prev i {
  position: absolute;
  top: 40px;
  left: 55px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #e27025;
}

.slide-right-side .swiper-button-next:after,
.slide-right-side .swiper-button-prev:after {
  content: none;
}
